sdoor/
smart_door/smart_door/__pycache__/
smart_door/apps/__pycache__/
smart_door/apps/home/__pycache__/
smart_door/apps/authentication/__pycache__/
smart_door/apps/home/ml_module/__pycache__/
smart_door/apps/home/migrations/__pycache__/
venv/
smart_door/apps/authentication/__pycache__
smart_door/apps/authentication/migrations/__pycache__
smart_door/apps/overview/__pycache__
smart_door/apps/overview/migrations/__pycache__
smart_door/staticfiles