{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/overview/overview.css">
{% endblock stylesheets %}

{% block content %}	

<script type="text/javascript">
</script>
<br>
<br>
<div style="margin-left: 10px">
    <div class="col-md-6 col-xl-4">
        <hr>
        <h2>Overview</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col first-card">
                <div class="card-body-header">
                    Entered
                </div>
                <div id="card-body-entered">
                    100
                </div>
            </div>
            <div class="col first-card">
                <div class="card-body-header">
                    Banned
                </div>
                <div id="card-body-banned">
                    16
                </div>
            </div>
            <div class="col first-card">
                <div class="card-body-header">
                    Abnormal
                </div>
                <div id="card-body-abnormal">
                    43
                </div>
            </div>
            <div class="col first-card">
                <div class="card-body-header">
                    Number of rooms used
                </div>
                <div id="card-body-numroom">
                    64
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body-data">
            Usage time (hour)
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col card-body-data">
                Data (1 month)
                <div id="small-text">
                    Group: <span>Support</span>
                </div>
            </div>
            <div class="col" id="view_detail">
                View details
            </div>
        </div>
        <br /> <br />
        <div class="row">
            <div class="col col-data-cate">
                Most used room
            </div>
            <div class="col col-data-result">
                LabA-1
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col col-data-cate">
                Faculty used most labs
            </div>
            <div class="col col-data-result">
                Computer Science and Engineering
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col col-data-cate">
                Peak hour
            </div>
            <div class="col col-data-result">
                12 : 00 PM
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col col-data-cate">
                Number of registers
            </div>
            <div class="col col-data-result">
                15
            </div>
        </div>
    </div>
</div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        var chart_time = {{ time|safe }};
        var chart_val = {{ value|safe }};
        console.log("Time:", chart_time);
        console.log("Value:", chart_val);
        const labels = chart_time;
        const data = {
            labels: labels,
            datasets: [{
                label: 'Number of people used room',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: chart_val,
            }]
        };
        const config = {
            type: 'line',
            data: data,
            options: {}
        };
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>

{% endblock javascripts %}
